<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.preflight.maxage</param-name>
      <param-value>3600</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.todolist.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>TodoServlet</servlet-name>
    <servlet-class>ru.job4j.todolist.servlerts.TodoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.todolist.servlerts.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.todolist.servlerts.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodoServlet</servlet-name>
    <url-pattern>/todo</url-pattern>
  </servlet-mapping>
</web-app>
